# Environnement et Port
NODE_ENV=development
PORT=3002

# --- OPENTELEMETRY (DEV LOCAL) ---
# En local avec docker-compose, ces variables sont pré-remplies dans docker-compose.yml
OTEL_SERVICE_NAME=user-service
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces

# --- OPENTELEMETRY (PROD / GRAFANA CLOUD) ---
# En production, décommentez et configurez ces variables dans vos secrets (ex: Coolify, Doppler, Github Secrets)
# Note: L'endpoint de prod doit être l'URL OTLP sans le sous-chemin "/v1/traces"
# OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-prod-us-east-0.grafana.net/otlp
# OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <token_base64_tempo_user_id_et_api_key>
